header.header
  .header-left
    img(src='img/search-logo.png', alt='logo')
  .header-right
    img(src='img/2017.png')
nav.nav-wrapper
  ul.nav-list
    li
      a(href='index.html', title='首页') 首页
    li
      a(href='news.html', title='资讯') 资讯
    li
      a(href='carresult.html', title='车型库') 车型库
    li
      a(href='partsresult.html', title='配件库') 配件库
    li
      a(href='needmsg.html', title='供求信息') 供求信息
    li
      a(href='enterprise.html', title='企业库') 企业库
    li
      a(href='http://www.cpkso.com', title='返回产品快搜', taget='_blank') 返回产品快搜