header.header
  .header-left
    img(src='http://ev.cpkso.com/style/img/search-logo.png', alt='logo')
  .header-right
    img(src='http://ev.cpkso.com/style/img/2017.png')
nav.nav-wrapper
  ul.nav-list
    li
      a(href='/', title='首页') 首页
    li
      a(href='/news/', title='资讯') 资讯
    li
      a(href='/cars/', title='车型库') 车型库
    li
      a(href='/parts/', title='配件库') 配件库
    li
      a(href='/info/', title='供求信息') 供求信息
    li
      a(href='/companies/', title='企业库') 企业库
    li
      a(href='http://www.cpkso.com', title='返回产品快搜', taget='_blank') 返回产品快搜