extends layout

block title
  title= '车型库、新能源电动车车型大全-产品快搜新能源电动车'
  meta(name="keywords", content="低速电动车、电动乘用车、电动三轮车、电动客车、新能源电动车分类、新能源电动车品牌、新能源电动车价格、新能源电动车续航里程")
  meta(name="description", content="产品快搜新能源电动车车型库为您提供各种型号的新能源电动车，囊括了的参数、型号、图片、价格、厂家等信息，是的专业平台，带给您最准确的信息。")
append link
  link(rel="stylesheet", href="http://ev.cpkso.com/style/css/searchresult.css")
block content
  .product-head-nav
    ol.breadcrumb
      span.location 当前位置：
        li
          a(href='http://ev.cpkso.com') 首页
        li.active 车型库