doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    block title
      title #{company.name}-产品快搜新能源电动车
      meta(name="keywords", content="#{company.name}-新能源电动车零部件企业,电动汽车零部件厂家,电动汽车零部件供应商,新能源汽车整车企业厂家,新能源电动车厂商")
      meta(name="description", content="#{company.name}-产品快搜新能源电动车企业库提供新能源电动汽车生产企业名录,新能源汽车厂商分布,新能源电动车配件厂家，微型电动车厂家,新能源电动车厂家等。")
    block meta
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="applicable-device", content="pc")
      meta(name="renderer", content="webkit")
      meta(name="baidu-site-verification", content="VUAL7R3a2v")
    block link
      link(rel='stylesheet', href='http://ev.cpkso.com/css/reset.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/bootstrap.min.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/base.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/company.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/css/searchresult.css')
  body
    include includes/com-header.jade
    block content
    include includes/footer.jade
    block script
      script(src='http://ev.cpkso.com/js/jquery-2.0.0.min.js')
      script(src='http://ev.cpkso.com/js/bootstrap.min.js')
