doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    block meta
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="applicable-device", content="pc")
      meta(name="renderer", content="webkit")
  body
    h1 404 NOT FOUND!
    h1 页面找不到了!