doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    block title
    block meta
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="applicable-device", content="pc")
      meta(name="renderer", content="webkit")
      meta(name="baidu-site-verification", content="VUAL7R3a2v")
    block link
      link(rel='stylesheet', href='http://ev.cpkso.com/style/css/reset.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/style/css/bootstrap.min.css')
      link(rel='stylesheet', href='http://ev.cpkso.com/style/css/base.css')
  body
    include includes/header.jade    
    block content
    include includes/footer.jade
    block script
      script(src='http://ev.cpkso.com/style/js/lib/jquery-2.0.0.min.js')
      script(src='http://ev.cpkso.com/style/js/lib/bootstrap.min.js')
