extends com-layout

block content
  .banner
    img(src='/img/products.png')
  .main-body
    .content-left
      include includes/com-prods.jade
    .content-right
      include includes/com-cnt.jade
