extends ../news

block newsNav
  li
    a.tab(href='/news/xinche/') 新车
  li.active
    a.tab(href='/news/jishu/') 技术
  li
    a.tab(href='/news/hangye/') 行业
  li
    a.tab(href='/news/zhengce/') 政策
  li
    a.tab(href='/news/daogou/') 导购
  li
    a.tab(href='/news/yongche/') 用车
  li
    a.tab(href='/news/pinpai/') 品牌
